# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Embedded static content (copied from client build)
static/

# Test binary
*.test

# Output of go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work
